body
{
    background-color: rgb(5, 95, 27);
}
#india
{
    width: 900px;
    height: 530px;
}
#indiatag 
{
    font-size: 30px;
    color: rgb(5, 95, 27);
    width: 30%;
    margin: 0px;
    box-shadow: 7px 7px 7px #09278b;
    font-family: 'Pacifico', cursive;
}
#status
{
    font-size: 20px;
    color: rgb(5, 95, 27);
    width: 30%;
    box-shadow: 7px 7px 7px #6282eb;
    font-family: 'Pacifico', cursive;

}
#iden
{
    font-size: 20px;
    color: rgb(5, 95, 27);
    width: 60%;
    box-shadow: 7px 7px 7px #6282eb;
    font-family: 'Pacifico', cursive;
    margin-left: 250px;
}
canvas
{
    box-shadow: 7px 7px 7px #6282eb;
    border-radius: 10px;
    margin-top: 250px;
}